<!-- Comment form -->
<h3>Leave a comment:</h3>
<form method="POST" action="https://api.staticman.net/v1/entry/Cirice/cirice.github.io/master">
  <input name="options[redirect]" type="hidden" value="http://habedi.me">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <!-- <input name="options[origin]" type="hidden" value="{{ site.url }}"> -->
  <div>
    <legend>Name</legend>
    <input dir="auto" name="fields[name]" type="text">
  </div>
  <div>
    <legend>Email</legend>
    <input name="fields[email]" type="email">
  </div>
  <div>
    <legend>Message (<a href="https://kramdown.gettalong.org/syntax.html">kramdown</a> markup allowed)</legend>
    <textarea dir="auto" style="width:100%" name="fields[message]" rows="12"></textarea>
  </div>
  
  <div>
    <legend><em>Comments will appear after moderation.</em></legend>
    <button type="submit">Submit Comment</button>
  </div>
</form>
